body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    
}
/*---------------------------------------*/
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #E5E7Eb

}
/*---------------------------------------*/
.sectionOne {
    background-color: #1f2937;
    padding: 100px
}
.header {
    color: #F9FaF8;
    font-size: 24px;
    font-weight: bold;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.right-links {
    font-size: 18px;
    font-weight: lighter;
    gap: 25px;
   
    display: flex;
    flex-direction: row;
}
/*---------------------------------------*/
.heroText {
    /* background-color: red; */

    display: flex;
    flex: 1;
    justify-content: space-around;
}
.textContainer {
    /* background-color: gray; */

    display: flex;
    flex-direction: column;

    width: 450px;
    margin: 25px;
} 
.mainText {
    font-size: 48px;
    color: #F9FaF8;
    font-weight: bolder;    
}
.text {
    font-size: 18px;
    color: white;
    margin-bottom: 10px;
}
.buttons {
    background-color:#3772f6;
    border: 1px #3772f6;
    color: white;
    width: 30%;
    padding: 8px 16px;
    border-radius: 12px;
}
.imageHolder {
    background-color: gray;
    color: white;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 450px;
    margin: 25px;
    padding: 100px;
}
/*---------------------------------------*/
.bodyThree {
    background-color: #E5E7Eb;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
}
.sectionThree {
    /* background-color: red; */
    padding: 100px;    
}
.text#num3 {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin: 0;
    padding: 0px 200px;
    
}
.author {
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    text-align: right;
}
/*---------------------------------------*/
.bodyTwo {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 100px;
    
}
.cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cardOne, .cardTwo, .cardThree, .cardFour {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.text#num2 {
    color: black;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 50px;
}
.imagesBodyTwo {
    border: 5px solid #3882f6;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 12px;
    padding: 16px;
    margin: 16px;
    width: 200px;
    height: 200px;
}
.secTwoContainer {
    background-color: red;
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding: 32px;
}
.subText {
    font-size: 18px;
    display: flex;
    text-align: center;
    width: 130px;
}